body{
   text-align: center;
}
.btn{
    border-radius: 20%;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    margin: 2rem;
   
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.pink{
    background-color: pink;
}
.purple{
    background-color: rgb(193, 163, 220);
}
.yellow{
    background-color: rgb(221, 221, 90);
}
.sky{
    background-color: skyblue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}